.mat-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  &-row {
    justify-content: center;
  }
}

.form-card {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
}

.btn {

  &-add,
  &-remove {
    margin-left: auto;
  }

  &-add {
    margin-bottom: 20px;
  }
}
